* {margin: 0; padding:0;}
/*
  'Hind', sans-serif          : H1 - H3
  'Lora', serif               : HTML, BODY
  'Open Sans', sans-serif     : HTML, BODY
*/
html, body, p {
  color: #777373;
  font-family: 'Open Sans', sans-serif, 'Lora', serif;
  letter-spacing: -.010em;
  line-height: 1.58;
  font-size: 14px;
}

p {
  padding: 15px 10px 10px 10px;
  color: #948f8f;
  margin:20px 0px 0px 0px;
} @media screen and (max-width: 992px) {p {font-size: 12px;margin:0;padding: 5px 5px 5px 5px;}};

h1, h2, h3 { padding: 5px;}
h1{font-size: 30px;}
h2{font-size: 27px;}
h3{font-size: 24px;}
a {color: #2685a3;}

/* global settings */
/* IMG tag settings for 480px */
@media screen and (max-width: 640px) {.img-restaurlas, .img-karika, .img-veses, .img-egyedi-ekszer {display:none;}}

.img-restaurlas {width: 40px; height: auto;}
.img-karika {width: 50px; height: auto;}
.img-veses {width: 220px; height: auto;}
.img-egyedi-ekszer {width: 100px; height: auto;}

/* START header */
#header {background-color:#000000;}
@media screen and (min-width: 640px) {
#header {
  background-image: url("../img/wp.jpeg");
  background-repeat: no-repeat;
  background-position: right;
}}

#header-menu {
  position: fixed; top:0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.80);
  z-index: 1002;
  color:#ffffff;
}
#header h1 {margin:10px;}
#header h2 {margin:15px;font-size: 20px;}
#header h3 {margin:19px;font-size: 16px;}
#header-rolam a,
#header-kapcsolat a,
#header-dragold-a {color: #ffffff;}
#header-mobile-a,
#header-emai-a,
#header-pontos-cim-a {color: #efbbbb;}
#header-pontos-cim {
  padding: 5px 5px;
  border-right: 4px solid #8e3737;
  margin: 10px;
}

h1#header-title,
h2#header-titulus {margin-left:15px;}
#name-job-box {padding: 13px 0;}
@media screen and (max-width: 792px) {#name-job-box {display: none;}}
#name-job-box-tab {display:none;} @media screen and (max-width: 792px) {#name-job-box-tab {display: inline;}}

#header-andras {
  background-color: rgba(58, 25, 25, 0.52);
  font-family: 'Open Sans', sans-serif;
  padding:0;
  margin-top:53px;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  opacity: 0.8;
  letter-spacing: 0.200em;
}
/* menu responsive nice */
@media screen and (max-width: 792px) {#header-pontos-cim {display: none;}}
@media screen and (max-width: 500px) {#header-kapcsolat {display: none;}}
@media screen and (max-width: 400px) {#header-dragold {display: none;}}

/* End header */

#pic-chronometer {height: 30px;}
#kek-kiemelt-div { padding:0;}
#kek-kiemelt-div p {margin-top:0;padding:3px 0px;}
.bg-primary {background-color: #66a2d6;}

#cim-div {
  text-align: center;
  background-color: #855990;
  color: #ececec;
}

.szolgaltatas-box {
  min-height:350px;
  padding:0;margin:0 ;
  text-align: center;
}

#karikagyuru_keszites-box,
#tortarany_felvasarlas-box,
#egyedi_ekszer_keszites-box,
#tisztitas_polirozas-box {
  /*background-color: #f7f5f3;*/
  background: radial-gradient(#ffffff,#ffffff, #f9f5f1);
}

#ekszer_restauralas-box,
#kopotlas-box,
#veses_gravirozas-box,
#ekszer_javitas_helyben-box {background-color: #ffffff; margin:0;padding: 0;}

#tortarany_felvasarlas-h2,
#ekszer_restauralas-h2,
#karikagyuru_keszites-h2,
#kopotlas-h2,
#veses_gravirozas-h2,
#egyedi_ekszer_keszites-h2,
#ekszer_javitas_helyben-h2,
#tisztitas_polirozas-h2 {
  text-transform: uppercase;
  font-family:  'Open Sans', sans-serif;
  font-size: 320x;
  line-height: 1.28;
  padding: 10px 0px; margin: 5px 0px 5px 0px;
  color: #696359;
  position:relative;
}

/* Karikagyuru keszites P */
#karikagyuru_keszites-p {
  margin: 0;
  padding-top: 0;
}

/* Ekszer restauralas box */
#ekszer_restauralas-p {
  padding-top:25px;
  padding-bottom:25px;
  background: url(../img/ekszer_restauralas.png);
  background-size: 180px auto;
  background-repeat: no-repeat;;
  background-position: center;
}

/* Tortaranz felvasarlas box*/
#tortarany_felvasarlas-p{
  font-size: 18px;
  padding: 50px 10px 30px 10px;
  background: url(../img/gold.png);
  background-size: 180px auto;
  background-repeat: no-repeat;;
  background-position: center;
}

/* Ekszer restauralas box */
#kopotlas-p {
  margin-top:20px;
  padding-top: 40px;
  padding-bottom: 40px;
  /*background: url(../img/diamond.svg);*/
  background-size: 140px auto;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 600;
}

/* Egyedi ekszer keszites box */
#egyedi_ekszer_keszites-p {font-size: 12px;}

/* Ekszer javitas helyben box */
/* Tisztitas, polirozas box */
#tisztitas_polirozas-p, #ekszer_javitas_helyben-p {
  padding:25px 10px;
}

/* Szolgaltatasok 992 px */
@media screen and (max-width: 992px) {
  .szolgaltatas-box {min-height:150px;}
  #karikagyuru_keszites-p {font-size: 16px;}
  #tortarany_felvasarlas-p{margin-top:0px;  padding-top:0px;}
  #ekszer_restauralas-p,
  #tortarany_felvasarlas-p,
  #kopotlas-p,
  #egyedi_ekszer_keszites-p,
  #ekszer_javitas_helyben-p,
  #tisztitas_polirozas-p {padding:15px;background-size: 60px auto;font-size: 16px;}
}
@media screen and (min-width: 992px) { #szolg-menu {display: none;}}
@media screen and (min-width: 792px) { #cim-div {display: none;}}
/* END 992 px */

.szolg-menu {
  text-align: center;
  margin: 0;
  background-color: #ffffff;
}
#szolg-menu {padding:0;margn:0; width:100%;border-bottom: 1px solid grey;}
#szolg-menu ul {padding-top: 10px;}

#szolg-menu ul li {
  display:inline;
  font-family: 'Open Sans', sans-serif;
  padding: 2px;
}
#szolg-menu a {color: #000000; opacity: 0.7}
#szolg-menu a:hover {text-decoration: none;}

.rollup-box {
  background-color: rgba(124, 161, 216, 0.23);;
  color: #000000;
  bottom:10px;
  position: fixed;right:0px;
  width: 44px; height: 55px;
  padding-top: 11px;
  font-size: 22px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  z-index: 1002;
} @media screen and (max-width: 992px) {.rollup-box{width:34px; height:35px;font-size:14px;padding-top:8px;}}

.center{text-align: center;}
.right{float:right;}
.left{float:left;}

#kapcsolat {margin: 10px 0px;}

#kapcsolat-cim {
  padding: 20px 20px;
  margin:0;
  text-align:center;
}
#kapcsolat-box-mobile {font-size: 28px;}
#kapcsolat-box-email {font-size: 22px;}

/*
    FOOTER
*/
footer {
  padding: 10px 20px;
  background-color: #f1f1f1;
  font-size: 13px;
}

.footer-address {
  width: 41.66666667%;
  padding: 10px;
  float: left;
}
.footer-cim {font-size:17px;color: #688fb3;margin:0;padding:0;}
.footer-open {font-size:15px;margin:0; padding-left:0px;}
.footer-tagcloud {
  width: 41.66666667%;
  padding: 10px;
  float: left;
  font-family: 'Hind', sans-serif;
  font-size:9px;
  color:#9d9d9d;
  text-align: justify;
}
.footer-menu {
  width: 16.66666667%
  padding: 10px;
  float: left;
}
.footer-menu ul li a {
  margin: 0; padding: 0;
  text-align:right;
}
.freepik {font-size:10px; text-align:right;}

@media screen and (max-width: 1024px) {.footer-tagcloud {display:none;}}

@media screen and (max-width: 1024px) {.footer-menu {width: 58,33333334%; float:right;}}
@media screen and (max-width:  670px) {.footer-menu {width: 100%; text-align: center;}}
@media screen and (max-width:  670px) {.footer-menu ul li a {text-align:center;}}
@media screen and (max-width:  670px) {.footer-address {display: none;}}
