html, body {
  margin: 0;
  color: #525254;
  font-family: 'Raleway', sans-serif,Georgia,Cambria,"Times New Roman",Times,serif,sans-serif;
}

/* global settings */
@media screen and (min-width:992px){.bg-white {background: linear-gradient(to bottom right, #ffffff 60%, #eff8fa);}}
/* IMG tag settings for 480px */
@media screen and (max-width: 992px) {img {display:none;}}

body, p {
  font-size: 14px;
  letter-spacing: -.010em;
  line-height: 1.38;
  font-family: 'Raleway', sans-serif;
}

.font-family-poriet { font-family: 'Poiret One', cursive; }
.font-family-hind {font-family: 'Hind', sans-serif; }
.font-family-raleway {font-family: 'Raleway', sans-serif; }

#a-menu {color: #ffffff;}

h1 {font-size: 16px;}
@media screen and (min-width: 480px) {h1 {font-size: 18px;}}
@media screen and (min-width: 768px) {h1 {font-size: 20px;}}
@media screen and (min-width: 992px) {h1 {font-size: 22px;}}

/* kiemelt szekcio es szolgaltatasok cimei */
h2 { font-size: 14px; margin-bottom: 4px;text-align:center;}
@media screen and (min-width: 480px) {h2 {font-size: 16px;margin-bottom: 10px;}}
@media screen and (min-width: 768px) {h2 {font-size: 18px;}}
@media screen and (min-width: 992px) {h2 {font-size: 20px;}}

/* min 992 show pure menu */
.pure-szolg-menu {
  font-size: 12px;
  padding-left:10px;
  margin:0px;
  text-algn:center;
} @media screen and (min-width: 992px) {.pure-szolg-menu {}}

.pure-szolg-menu a:link {padding:0px 7px 0px 0px;margin:5px 0px 0px 0px;}
.header {
  background-image: url("../img/wp3.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header-menu {
  position: fixed; top:0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.43);
  z-index: 1002;
}

.header-logo-img {
  height: 37px; width: auto;
  margin-top:10px;
}

.header-url{
  font-size:16px;
  padding: 18px 10px 18px 10px;
  margin:0;
  font-weight: 600;
  color: #ffffff;
}
@media screen and (max-width: 400px) {.header-url b {display:none;}}

.header-tel-number {
  color:#ffffff;
  font-size: 13px;
} @media screen and (min-width: 480px) {.header-tel-number {font-size: 16px;}}

.header-title {
  margin-top: 65px;
  margin-bottom:15px;
  text-align: center;
  padding: 0;
  font-size: 2em;
  color: #ffffff;
} @media screen and (min-width: 480px) {.header-title  {font-size: 2.8em;}}
  @media screen and (min-width: 992px) {.header-title  {font-size: 4em;}}

.header-titulus {
  text-align: center;
  font-size: 23px;
  padding-top: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.header-hr {
  border: 0px;
  height: 1px;
  width: 50%;
  margin-bottom: 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.header-cim {
  color: #a6a297;
  text-align:center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(22, 22, 13, 0.65), rgba(0, 0, 0, 0));
}
.mini-box {
  position: fixed;right:0px;
  width: 44px; height: 55px;
  padding-top: 15px;
  font-size: 22px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  font-weight: bold;
  z-index: 1000;
} @media screen and (max-width: 992px) {.mini-box{width:24px; height:35px;font-size:14px;padding-top:10px;}}

.up {
  background-color: rgba(0, 0, 0, 0.04);
  color: #000000;
  bottom:10px;
} @media screen and (max-width: 992px) {.up {opacity: 0.3;bottom:40px;}}


.hr-line {
  border: 0px;
  height: 1px;
  width: 90%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.welcome-cont {
  margin: 0px auto 20px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;}
  @media screen and (max-width: 992px) {.welcome-cont{display:none;}}

.welcome-cont h1 {
  display: block;
  font-size: 30px;
  padding: 10px;
  margin:0;
}

.welcome-cont p {
  font-size: 12px;
  letter-spacing: -.010em;
  line-height: 1.50;
}

#tortarany_felvasarlas p {
  font-size: 16px;
  display: block;
  color: #2da7df;
  padding: 3px;
}
#tortarany_felvasarlas h2 {
  font-size: 18px;
  letter-spacing: .12em;
}
.ekszer-restauralas {padding: 0 28px; }
.egyedi-ekszer { padding: 0 28px; }

.img-restaurlas {
  width: 150px; height: auto;
}

.szolg-box {
  margin: 20px auto;
  padding: 10px 10px 5px 10px;
  text-align: justify;
  font-size:10px;
} @media screen and (min-width: 768px) {.szolg-box p{font-size:10px;}}
  @media screen and (min-width: 992px) {.szolg-box p{font-size:12px;padding: 10px 8px 5px 8px;}}
  @media screen and (min-width: 1200px) {.szolg-box p{font-size:12px;padding: 10px 12px 5px 12px;}}
.szolg-box h2{text-align:left;}

.list-kopotlas {font-size: 12px;}
  @media screen and (min-width: 768px) {.list-kopotlas{font-size:10px;}}
  @media screen and (min-width: 992px) {.list-kopotlas{font-size:12px;}}
  @media screen and (min-width: 1200px) {.list-kopotlas{font-size:12px;}}

.center{text-align: center;}
.right{float:right;}
.left{float:right;}

/*
    FOOTER
*/
footer {
  padding: 10px 10px 10px 10px;
  background-color: #f1f1f1;
  font-size: 13px;
}

.footer-cim {font-size:19px;color: #688fb3;}
.footer-open {font-size:16px;}
.footer-menu ul li a{margin: 0; padding: 0;}
.footer-tagcloud {font-family: 'Hind', sans-serif;font-size:9px;color:#9d9d9d;text-align: justify;}
.freepik {font-size:10px; text-align:right;}
