html, body {
  font-family: sans-serif;
  margin: 0;
}
body, p {
  font-size: 12px;
  letter-spacing: -.000em;
  line-height: 1.38;
}
@media screen and (min-width: 480px) {body, p {font-size: 14px;}}

h1 {font-size: 27px;}
@media screen and (min-width: 768px) {h1 {font-size: 27px;}}
@media screen and (min-width: 992px) {h1 {font-size: 30px;}}

.btn-info {background-color: #ff8217; border-color: #cc5f02}
.ccc { max-height: 180px;}
@media screen and (min-width: 992px ) {.ccc {min-height: 150px;}}
@media screen and (min-width: 1200px) {.ccc {min-height: 130px;}}

.name {text-align:left;padding-left:8%;}
@media screen and (max-width: 992px) {.name {text-align:center;padding-left:0px;margin-top:0px;}}
.name h1 {
  font-family: 'Poiret One', cursive;
  font-size: 27px;
  opacity: 0.8;
  text-shadow: 1px 1px 12px rgb(71, 160, 236);
}
@media screen and (min-width: 480px) {.name h1 {font-size: 43px;}}
@media screen and (min-width: 768px) {.name h1 {font-size: 63px; opacity: 0.6;}}

.name h3{
  font-family: 'Poiret One', cursive;
  font-size: 21px;
  opacity: 0.7;
  padding-top: 0px;
  margin-top: 0px;
  text-shadow: 1px 1px 12px rgb(71, 160, 236);
}

.udvozlo {
  opacity: 0.8;
  font-family: 'Hind', sans-serif;
  text-shadow: 1px 1px 22px rgb(71, 160, 236);
}
@media screen and (max-width: 992px) {.udvozlo{display:none;}}


/* kiemelt szekcio es szolgaltatasok cimei */
h2 { font-size: 20px;}
@media screen and (min-width: 480px) {h2 {font-size: 28px;}}
@media screen and (min-width: 768px) {h2 {font-size: 30px;}}

#topnav{
  top: 0;
  background: rgba(0,0,0,0.9);
  border: 0;
  border-radius: 0px;
  margin-bottom: 0px;
}

.list-group {
  width:100%;
  margin: 7px auto;
  opacity: 0.9;
  font-size: 14px;
  letter-spacing: .012em;
  text-align: center;
}
@media screen and (min-width: 480px) {.list-group {width: 70%;}}
@media screen and (min-width: 768px) {.list-group {width: 70%;opacity: 0.6;}}
@media screen and (min-width: 992px) {.list-group {width: 100%;opacity: 0.6; font-weight: 500;}}

.list-group-item {padding: 6px 10px}
@media screen and (min-width: 480px) {.list-group-item {padding: 4px 10px}}


.welcome-div {
  background-color: #001a33;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  .welcome-div {
    background-image: url("../img/dragold_wp.jpg");
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 48px;
    margin-bottom: 20px;
  }
}
.tortarany h1{margin-top:0px;}
.tortarany{border-radius: 0px; background-color:rgb(239, 232, 224)}
.center{text-align: center;}
.right{float:right;}

.container-header {
  background-image: url("../img/dragold_wp.jpg");
  width: 100%;
  min-height: 100%;
  height: 100%;
  color:#ffffff;
  padding-top: 100px;
  padding-bottom: 20px;
  margin:0;
}

.tel-number {
  position: absolute;
  right:10px;
  top:55px;
  font-size: 10px;
  color: #d1cfe8;
  text-shadow: 1px 1px 8px rgb(71, 160, 236);
}
@media screen and (min-width: 768px) {.tel-number {text-shadow: 1px 1px 8px #15120d;font-size: 12px;}}

footer { display:none;
  padding: 10px 10px 0px 10px;
  background-color: #000;
  color: #fff;
  opacity: 0.7;
  clear: both;
  font-size: 14px;
  overflow: auto;
}

.footer-menu {float:right;display: inline-block;padding-right: 80px;}
.footer-menu ul {
  margin-top:10px;
  padding-left:10px;
  display: block;
  list-style-type: none;
  clear:both;
}
.footer-menu li a {
  display: inline-block;
}
.footer-info {
  width:40%;
  padding: 0;
  margin: 0;
  float: left;
}
.footer-info strong {color:#99ccff;}
.copyright {
  display: inline-block;
  width:20%;
  text-align: center;
  vertical-align: bottom;
  font-size: 10px;
}
